* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #2B2B2B;
  margin: 0;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 1280px;
  margin: auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#00417B), color-stop(50.26%, #237CB1), color-stop(52.72%, #2580B2), to(#46D2CC));
  background: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.159392);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.159392);
  position: relative;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 20px;
}

.header-left::before {
  content: '';
  background-image: url(../img/substrate.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
}

.header__logo {
  width: 24px;
  margin-right: 27px;
  z-index: 1;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header-search__icon {
  max-width: 18px;
  margin-right: 10px;
}

.header-search__text {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-right: 89px;
}

.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bell__link {
  margin-right: 41px;
}

.header-profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.header-profile__icon {
  width: 18px;
  margin-right: 7px;
}

.header-profile__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header-profile__arrow {
  margin: 0 20px 0 5px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu__item {
  margin-right: 38px;
  position: relative;
}

.navbar-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.navbar-menu__link_active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8DC540;
  left: 0;
  bottom: -17px;
}

.navbar-menu__arrow {
  margin-left: 5px;
}

.arrow {
  width: 7px;
}
/*# sourceMappingURL=style.css.map */