* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #2B2B2B;
  margin: 0;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 1280px;
  margin: auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#00417B), color-stop(50.26%, #237CB1), color-stop(52.72%, #2580B2), to(#46D2CC));
  background: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.159392);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.159392);
  position: relative;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 20px;
}

.header-left::before {
  content: '';
  background-image: url(../img/substrate.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
}

.header__logo {
  width: 24px;
  margin-right: 27px;
  z-index: 1;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header-search__icon {
  max-width: 18px;
  margin-right: 10px;
}

.header-search__text {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-right: 89px;
}

.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right__bell {
  margin-right: 41px;
  width: 25px;
}

.header-right__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.header-profile__icon {
  width: 18px;
  margin-right: 7px;
}

.header-profile__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header-profile__arrow {
  margin: 0 20px 0 5px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu__item {
  margin-right: 38px;
  position: relative;
}

.navbar-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.navbar-menu__link_active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8DC540;
  left: 0;
  bottom: -17px;
}

.navbar-menu__link:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8DC540;
  left: 0;
  bottom: -17px;
}

.navbar-menu__arrow {
  margin-left: 5px;
}

.arrow {
  width: 7px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 26px;
  background: #FFFFFF;
  -webkit-box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
          box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
  width: 900px;
}

.main-header__close {
  margin-right: 21px;
}

.main-header__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.main-body {
  width: 900px;
  padding-top: 26px;
  background: #FFFFFF;
  -webkit-box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
          box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
}

.main-body__summ {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body__summ-price {
  font-weight: 300;
  font-size: 46px;
  line-height: 54px;
  color: #CF4545;
}

.main-body__summ-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.main-body__summ-subtitle_light {
  color: #828A96;
}

.main-body__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 16px;
}

.main-body__status-text {
  margin: auto;
  padding: 3px 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  background: #81C624;
  border-radius: 125px;
}

.main-body__card {
  width: 545px;
  margin: auto;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.0869282), -2px 2px 2px rgba(0, 0, 0, 0.390682);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.0869282), -2px 2px 2px rgba(0, 0, 0, 0.390682);
  position: relative;
  overflow: hidden;
}

.main-body__card::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  border-bottom: 26px solid #fff;
  border-right: 30px solid transparent;
  opacity: 0.85;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

.main-body__card-info {
  margin-left: 30px;
}

.main-body__card-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin: 20px 0 0;
}

.main-body__card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.main-body__card-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  max-width: 190px;
}

.main-body__card-item {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body__card-link {
  display: inline-block;
  text-align: center;
  max-width: 120px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
}

.main-body__card-indicators {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.main-body__card-footer {
  padding: 22px 27px;
  margin: 0;
  background: #F2F2F2;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.0651891), 0px 4px 15px rgba(0, 0, 0, 0.0869282), 0px 0px 1px rgba(0, 0, 0, 0.239102);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.0651891), 0px 4px 15px rgba(0, 0, 0, 0.0869282), 0px 0px 1px rgba(0, 0, 0, 0.239102);
}

.main-body__subtitle {
  max-width: 545px;
  margin: auto;
  margin-top: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}

.main-body__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 545px;
  margin: 21px auto;
}

.main-body__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  position: relative;
}

.main-body__footer-item:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8DC540;
  left: 0;
  bottom: -10px;
}

.main-body__footer-icon {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */